<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Gateway</title>
</head>
<body>
<h1>Redirecting to you to payment gateway.Please do not refresh or go back.</h1>
<br>
<h1>Click on the button for payment!!!</h1>
<br><br>
<section>
<div class="container" align="center">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            {{ form.render }}
        </div>
    </div>
</div>
</section>
</body>
</html>





