<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stripe</title>
    <style type="text/css" media="screen">
        form article label {
        display: block;
        margin: 5px;
        }

        form .submit {
            margin: 15px 0;
        }
    </style>
</head>
<body>
<div class="container" align="center">
    <div class="row">
        <h1>Thanks for the payment of {{ amount}}</h1>
        <a class="btn btn-info" href="{% url 'home' %}">Home</a>
    </div>
</div>

</body>
</html>